name: CI

on:
  pull_request:

jobs:
  checkstyle_job:
    runs-on: ubuntu-latest
    name: Checkstyle
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run check style
        uses: nikitasavinov/checkstyle-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: "github-pr-check"
          tool_name: "testtool"
          checkstyle_config: "checkstyle.xml"
          level: error
          fail_on_error: true

  build:
    strategy:
      matrix:
        java: [8, 11, 15, 17, 20]
      max-parallel: 1
    name: Build ${{ matrix.java }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4.8.0
        with:
          distribution: "zulu"
          java-version: ${{ matrix.java }}
          check-latest: true
          cache: "maven"
          server-id: ossrh

      - name: Maven Build
        env:
          DESCOPE_PROJECT_ID: ${{ secrets.DESCOPE_PROJECT_ID }}
          DESCOPE_MANAGEMENT_KEY: ${{ secrets.DESCOPE_MANAGEMENT_KEY }}
        run: mvn -B -ntp package

  verify:
    name: Verify Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4.8.0
        with:
          distribution: "zulu"
          java-version: "11"
          check-latest: true
          cache: "maven"

      - run: mvn -B -ntp -P ci verify -DskipTests -Dgpg.skip
